In [1]:
import os
import glob
import pandas as pd

In [2]:
# Loading 
data_path = "D:/Video Tutoriales/labelImg/images/Cards"

data_dir_list = os.listdir(data_path)

img_data_list=[]
num_images=0

for image_file in data_dir_list:
    img_data_list.append('data/custom/images/'+image_file)

dataset_df = pd.DataFrame(img_data_list)
dataset_df.head()

                             0
0  data/custom/images/c001.jpg
1  data/custom/images/c002.jpg
2  data/custom/images/c003.jpg
3  data/custom/images/c004.jpg
4  data/custom/images/c005.jpg

In [4]:
from sklearn.model_selection import train_test_split

train_df, valid_df = train_test_split(
  dataset_df, 
  test_size=0.2, 
  random_state=2
)

print(train_df.size, valid_df.size)

33 9

In [5]:
train_df.to_csv('train.txt', index=False, header=None)
valid_df.to_csv('valid.txt', index=False, header=None)